h1{
    color: rgb(0, 255, 0);  
  }
  *{
      border: solid;
  }
  .header{
      background-color:    yellow;
  }
  

  .menu{
      background-color: lightgreen;
  }

  .grid{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .footer{
      display: flex;
      justify-content: flex-end;
  }

  p,h2 {
      text-align: center;
  }